<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="za.co.palota.flutter_scandit">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">

        <activity
            android:name="za.co.palota.flutter_scandit.BarcodeScanActivity"
            android:screenOrientation="sensor">
        </activity>
    </application>
</manifest>